<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gw_board.mapper">
	<delete id="board_clear">
		delete from board
	</delete>
	
	<insert id="board_insert">
		insert into board(EVENTNM, OPAR, EVENTCO, EVENTSTARTDATE, EVENTENDDATE, EVENTSTARTTIME, EVENTENDTIME, CHRGEINFO, MNNST, AUSPCINSTT, PHONENUMBER, SUPRTINSTT, SEATNUMBER, ADMFEE, ENTNCAGE, DSCNTINFO, ATPN, HOMEPAGEURL, ADVANTKINFO, PRKPLCEYN, RDNMADR, LNMADR, LATITUDE, LONGITUDE, REFERENCEDATE)
		values(#{eventNm}, #{opar}, #{eventCo}, #{eventStartDate}, #{eventEndDate}, #{eventStartTime}, #{eventEndTime}, #{chrgeInfo}, #{mnnst}, #{auspcInstt}, #{phoneNumber},
			   #{suprtInstt}, #{seatNumber}, #{admfee}, #{entncAge}, #{dscntInfo}, #{atpn}, #{homepageUrl}, #{advantkInfo}, #{prkplceYn}, #{rdnmadr}, #{lnmadr}, #{latitude}, #{longitude}, #{referenceDate} )
	</insert>
	
	<select id="board_list_gw" resultType="board.BoardVO_GW">
		select * from board
	</select>
</mapper>