<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.mapper">
	<select id="login_app" resultType="gw_member.MemberVO_GW">
		select * from member
		where email = #{email}
		and PASSWORD = #{pw}
	</select>
	
	<select id="memberList_app" resultType="gw_member.MemberVO_GW">
		select * from member
	</select>
	
	<select id="id_check_app" resultType="Integer">
		select count(*) from member where email= #{email} 
	</select>
	
	<insert id="member_join_app">
		insert into member(email, password, name, nickname, idnumber, address, filepath)
		values(#{email}, #{password}, #{name}, #{nickname}, #{idnumber}, #{address} ,#{filepath, jdbcType=VARCHAR})
	</insert>
</mapper>